@import "./reset.scss";
@import "./colors.scss";
@import "./typography.scss";

:root {
  --color-black: #{$black};
  --color-white: #{$white};
  --color-primary: #{$primary};
  --color-red: #{$red};
  --color-gray: #{$gray};
}

body {
  min-height: 100vh;
  color: $black;
  background-color: $white;
  font-family: "Inter";
}

#app {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  font-weight: 500;
}
